/*==============================================================
                       1. GENERELLE INDSTILLINGER
==============================================================*/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*==============================================================                              2. BURGERMENU
==============================================================*/

/*menu*/
.hidden {
    display: none;
    visibility: hidden;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    font-family: "gibson", sans-serif;
    text-align: center;
    z-index: 11;
    margin: 0;
    font-size: 1.5rem;
    color: #EA5045;
    background-color: #3F3140;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform .4s;
    max-width: 375px;
    margin: 0 auto;


}

/* toppen af skærm */
#orangebackground2 {
    background-color: #EA5045;
    max-width: 375px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

/* burgermenu forside */

#menuknap {
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 5vw;
    right: 15vw;
    z-index: 50;
}

/*Kalender-ikon på Materialer siden */
.kalender2 {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    margin-left: 50px;
}


/*Lille kea logo i headeren*/
.kealogo2 {
    padding: 30px 20px;
    display: flex;
}

/* profillogo */
#profillogo {
    background-image: url(produktion/Profile.svg);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 5vw;
    right: 22vw
}

#menu a {
    text-decoration: none;
    font-family: "gibson", sans-serif;
    margin-bottom: 4vw;
    font-size: 1.5rem;
    font-weight: 600;
    color: #EA847C;
    margin-top: 10vw;
    text-align: center;
}

.logudbox {
    background-color: #F58E81;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem 0;

}

.logudtxt {
    color: #FFFFFF;
}

/*menuslut*/

/*==============================================================                              3. LOG IND SIDE
==============================================================*/

/*HEADER*/
#header_login .keaheader {
    background-color: #EA5045;
    height: 240px;
    max-width: 375px;
    margin: 0 auto;
    position: relative;
    background-image: url(produktion/Group%201604.svg);
    background-position: center;
    background-repeat: no-repeat;

}


/*Section ID*/
#login {
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
}



/*Parent div til form og input*/
#logind {
    position: relative;
    background-color: #faf7f7;
    display: flex;
    flex-wrap: wrap;
    height: 812px;

}

/*input/form mail*/
input[type=email] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #faf7f7;
    border-radius: 100px;

}

/*input/form password*/
input[type=password] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #faf7f7;
    border-radius: 100px;

}

/*input/form continue*/
input[type=submit] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid;
    background-color: #EA5045;
    color: white;
    cursor: pointer;
}

/*input/form login with facebook*/
input[type=text] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid #EA5045;
    background-color: white;
    color: #EA5045;
    text-align: center;
    background-image: url(produktion/Symbol%201.png);
    background-repeat: no-repeat;
    background-position: 20px;
}


/*==============================================================                                3. FORSIDE
==============================================================*/

#forside {
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
}


/*Parent div indstillinger*/
#pforside {
    background-color: #faf7f7;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}

/*Fælles class for Materialer, Skema, Notifikationer, favoritter, grupper, chat, søg og afleveringer*/
.menubox {
    display: flex;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*Techlounge div*/
.techlounge {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 220px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
}


/*Mail div*/
.keamail {
    display: flex;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

/*parent div til Søg og Afleveringer*/
.col2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

/*Aktuelt store div.*/
.aktuelt {
    display: flex;
    width: 220px;
    height: 290px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

/*font til alle undtagen tech og aktuelt*/
.text {
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    font-size: 1rem;
    color: #F58E81;
    padding: 8px;
}

#pforside a {
    text-decoration: none;
}

/*Techlounge font*/
.text1 {
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    font-size: 2rem;
    color: #F58E81;
}

/*aktuelt font*/
.text2 {
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    font-size: 2.5rem;
    color: #F58E81;
}

/*===============================================================                        4. SKEMA:                             ==============================================================;*/

/*Section indstillinger*/
#kalender {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin: 0 auto;
    position: relative;

}

/*Skema+tema Toppen også brugt i materialer siden*/
.del1 {
    display: flex;
    justify-content: space-between;
    background-color: #DEDCDB;
    width: 375px;
    height: 77px;
}

.box1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-self: center;
}

.box2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: right;
    align-self: center;
}

.box1 h1 {
    font-size: 1.4rem;
    color: #3F3140;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    padding-left: 14px;
}

.del1 p {
    font-size: 1rem;
    color: #707070;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 14px;
}

.box2 h2 {
    font-size: 1.3rem;
    color: #707070;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    padding-right: 14px;

}

/*Kalender sektionens parent div også brugt i materialer siden*/
.del2 {
    display: flex;
    background-color: #3F3140;
    width: 375px;
    height: 77px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

/*Fontene til Kalenderen også brugt på materialer siden*/
.del2 h2 {
    margin: auto;
    font-size: 1rem;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    color: white;
}

.del2 p {
    margin: top;
    font-size: 0.6rem;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}

.del2 h3 {
    margin: 0;
    font-size: 1rem;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

/*Parent div for første modul*/
.del3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}

/*Tid parent div*/
.tid_con {
    display: flex;
    flex-direction: column;
}

/*tid div boxe*/
.tid {
    border: solid 1px lightgray;
    width: 90px;
    height: 60px;
}

/*tid tekst*/
.tid p {
    margin: 0;
    font-size: 1rem;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #BCC5D3;
    padding-top: 6px;
}

/*Modul 1 boksen*/
.modul1 {
    height: 120px;
    width: 270px;
    background-color: #f1f2f0;
    display: flex;
    flex-direction: column;
}

/*Dokument ikonet*/
.folder1 {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

/*Fontene til modulernes H1 og P*/
.modul h1 {
    margin: 0;
    font-size: 1.2rem;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}

.modul p {
    margin: 0;
    font-size: 0.8rem;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: black;
    padding-left: 5px;
}

/*Grå boks der ligger i mellem modulerne*/
.fyld {
    width: 100%;
    height: 19px;
    background-color: #faf7f7;
}

/*Modul 2 parent div*/
.del4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}

.modul2 {
    height: 120px;
    width: 270px;
    background-color: #f1f2f0;
    display: flex;
    flex-direction: column;
}

/*modul 3 parent div*/
.del5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}


.modul3 {
    height: 60px;
    width: 270px;
    background-color: #f1f2f0;
    display: flex;
    flex-direction: column;
}

/*De blanke div bokse der ligger i bunden*/
.modul_blank {
    height: 60px;
    width: 285px;
    background-color: white;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
}

/*div til de 2 sidste blanke diver*/
.del6 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}

/*footeren også brugt i materialer*/
.fod {
    width: 375px;
    margin: 0 auto;
    height: 50px;
    background-color: #3f3140;
    display: flex;
}

/*div i footeren til skema ikon og tekst også brugt i materialer*/
.del7 {
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
}

/*Skema i footeren font også brugt i materialer*/
.del7 p {
    padding-left: 10px;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
}

/*=================================================================                                    5. MATERIALER:                    ================================================================;*/
/*Materialer section*/
#materialer {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin: 0 auto;
}

/*Parent div til boksene/div'erne*/
.materialer_con {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

/*Diverne (grå bokse) */
.slides {
    display: flex;
    align-self: center;
    width: 95%;
    height: 80px;
    background-color: #F2F1F0;
    margin-top: 20px;
}

/*h1 materialers font*/
.h1_materialer {
    margin: 0;
    font-size: 1rem;
    font-family: canada-type-gibson, sans-serif;
    font-style: semi-bold;
    font-weight: 100;
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}

/*p materialers font*/
.p_materialer {
    margin: 0;
    font-size: 0.8rem;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: black;
    padding-left: 5px;
    margin-top: 10px;
}

/*div til at få ikonet til at flexe og ligge til højre i billedet*/
.download_con {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.down_asset {
    float: right;
    padding-left: 315px;
}

/*indstillinger til styletile så papirsklippen flexer rigtigt*/
.styletile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.att_materialer {
    float: right;
    padding-right: 20px;
}

/*tomme (hvide) box, der gør at footeren ligger i bunden*/
.white_space {
    width: 100%;
    height: 200px;
}
