* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.keaheader {
    background-color: #EA5045;
    width: 500px;
    height: 240px;
    position: relative;
}

.keaimg {
    background-image: url(produktion/Group%201604.png);
    width: 127px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: 25vw;
    left: 33vw;
}

.logind {}
